# To the extent possible under law, the author(s) have dedicated all 
# copyright and related and neighboring rights to this software to the 
# public domain worldwide. This software is distributed without any warranty. 
# You should have received a copy of the CC0 Public Domain Dedication along 
# with this software. 
# If not, see <http://creativecommons.org/publicdomain/zero/1.0/>. 

# base-files version 4.2-4

# ~/.inputrc: readline initialization file.

# The latest version as installed by the Cygwin Setup program can
# always be found at /etc/defaults/etc/skel/.inputrc

# Modifying /etc/skel/.inputrc directly will prevent
# setup from updating it.

# The copy in your home directory (~/.inputrc) is yours, please
# feel free to customise it to create a shell
# environment to your liking.  If you feel a change
# would be benifitial to all, please feel free to send
# a patch to the cygwin mailing list.

####################################################################################
####################################################################################
####################################################################################

# Ctrl-h to go back a word, Ctrl-l to go forward a word
# Alt-h to delete a word backwards, Alt-l to delete a word forwards
"\C-h": backward-word
"\C-l": forward-word
"h": backward-kill-word
"l": kill-word

$if Bash
  # Don't ring bell on completion
  set bell-style none

  # or, don't beep at me - show me
  # set bell-style visible

  # Filename completion/expansion
  set completion-ignore-case on
  #set show-all-if-ambiguous on

  # Expand homedir name
  # set expand-tilde on

  # Append "/" to all dirnames
  set mark-directories on
  set mark-symlinked-directories on

  # Match all files
  set match-hidden-files on

  # 'Magic Space'
  # Insert a space character then performs
  # a history expansion in the line
  Space: magic-space
$endif
