
# UT Austin LRC Machines
Host mario
    User jnguyen10
    HostName mario.ece.utexas.edu
Host bowser
	User jnguyen10
	HostName bowser.ece.utexas.edu
Host yoshi
	User jnguyen10
	HostName yoshi.ece.utexas.edu
Host toad
	User jnguyen10
	HostName toad.ece.utexas.edu
Host kamek
    User jnguyen10
    HostName kamek.ece.utexas.edu
Host daisy
    User jnguyen10
    HostName daisy.ece.utexas.edu
Host koopa
    User jnguyen10
    HostName koopa.ece.utexas.edu
Host luigi
    User jnguyen10
    HostName luigi.ece.utexas.edu
Host wario
    User jnguyen10
    HostName wario.ece.utexas.edu

## justin-nguyen-1996
#Host github.com-justin-nguyen-1996
#    HostName github.com
#    User git
#    IdentityFile ~/.ssh/id_rsa
#
## justintemp
#Host github.com-justintemp
#    HostName github.com
#    User git
#    IdentityFile ~/.ssh/id_rsa_pintos
